form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid rgb(255, 248, 248);
  border-radius: 1em;
  background-color: #42a51b;
}

.title{
font-family: 'Orbitron', sans-serif;
font-size: 50px;
text-align: center;
color:#F0F8FF;
}

.container{
font-family: 'Roboto Condensed', sans-serif;
font-size: 20px;
color:#F0F8FF;
text-align: center;
}

.buttons{ 
 font-family: 'Roboto Condensed', sans-serif;
 color: #F0F8FF;
 border-radius: 1em;
 background-color: #000000; 
}

.buttons:hover {
background-color: #00FF00 ;
color: white;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
}


